{{ define "main" }}
<div class="center ph4 pv3 ph6-ns flex-ns flex-wrap-ns justify-center-ns">
        {{/*  <ul class="list ph3 ph5-ns pv4 center tc">
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--gray">Abyssinian</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Aegean</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Arabian</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Australian</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Asian</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Balinese</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Bambino</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Bengal</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Birman</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Bombay</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Brazilian</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">British</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">British</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">British</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Burmese</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Burmilla</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">California</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Chantilly</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Chartreux</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Chausie</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Cheetoh</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Colorpoint</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Cornish</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Cymric</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Cyprus</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Devon</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Donskoy</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Dragon</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Egyptian</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">European</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Exotic</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Foldex</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Cachorro</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">German</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Havana</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Highlander</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Himalayan</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Japanese</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Javanese</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Kurilian</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Khao</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Korat</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Korean</a></li>
                <li class="dib mr1 mb2"><a href="#" class="f6 f5-ns b db pa1 link dim dark-gray ba b--black-20">Korn</a></li>
              </ul>  */}}
              
    {{ range .Pages }}
    <article class="pa2 w5-ns">
        <section class="mt1">
            <img src="{{ .Site.BaseURL }}img/{{ .Param "artist-featured-image" }}" class="db center" alt="image from {{ .Title }}">
        </section>
        <div class="w-100 mb1">
            {{- partial "summary.html" . -}}
        </div>
    </article>
    {{ end }}
</div>
{{ end }}