{{ define "main" }}
<section id="main" class="flex tc">
		<div class="center pa3 w-80">
			<h1 id="title" class="din-bold">{{ .Title }}</h1>
			<article id="content" class="din-thin">
				{{ .Content }}
			</article>
			<div class="pv4"></div>
			<div id="hRule" class="bt b--dark-red"></div>
			<div class="pv4"></div>
			<div id="liveStream" class="center aspect-ratio aspect-ratio--16x9">
				<iframe frameborder="0" class="aspect-ratio--object"
            src="http://www.dailymotion.com/embed/video/{{ $.Param "channelid" }}?autoplay=1&mute=1"
            allowfullscreen allow="autoplay">
        </iframe>
			</div>
			<!--			
			<div id="socialFeed">
				Social feed removed at Rich's request, since we don't have a great way to do it yet. 
			</div>
			-->
		</div>
</section>
{{ end }}