<!-- <nav class="cf pv3 ph3 ph4-ns flex-l" role="navigation">
  <div class="flex-l fl w-third-l w-third-m w-75 tc pv5">
    
    <a href="{{ .Site.BaseURL }}" class="din-bold f2 fw2 hover-white no-underline white dib">
      {{ .Site.Title }}
    </a>
  </div>
  <div class="w-auto-l w-auto-m w-auto">
  </div>
  <div class="fl w-third-l w-third-m w-25 tc pv5">
    <div class="">
      <img src="{{ .Site.BaseURL }}/images/scr_logo.png" class="img" width="80" alt="Seoul Community Radio Logo">
    </div>
  </div>
  <div class="fl w-third-l w-third-m w-100 tc pv5">
    {{ if .Site.Menus.main }}
    <ul class="pl0 mr3">
      {{ $currentNode := . }}
      {{ range .Site.Menus.main }}
      <li class="list f6 fw4 dib pr3">
        {{ if (or (eq .Name "LIVE") (eq .Name "생방송")) }}
        <a class="din-thin hover-white no-underline bg-dark-red silver" href="{{ .URL }}" title="{{ .Name }} page">
          {{ .Name }}
        </a>
        {{ else }}
        <a class="din-thin hover-white no-underline silver" href="{{ .URL }}" title="{{ .Name }} page">
          {{ .Name }}
        </a>
        {{ end }}
      </li>
      {{ end }}
      {{ if .Site.IsMultiLingual }}
      {{ range .Site.Languages }}
      {{ if eq . $.Site.Language }}
      {{ else }}
      {{ range $.Translations }}
      <li class="small-caps list f6 fw4 dib pr3">
        <a href="{{ .Permalink }}" class="hover-white no-underline silver">{{ .Language.LanguageName }}</a>
      </li>
      {{ end }}
      {{ end }}
      {{ end }}
      {{ end }}
    </ul>
    {{ end }}
  </div>
</div> -->

<!-- cf flex-l w-100 w-100-l w-100-m w-100-ns pv3 ph3 ph4-ns -->
<!-- flex-l w-100 -->
<!-- flex-l w-third-l w-third-m w-75 justify-between items-center -->
<!-- w-third-l w-third-m w-25 -->
<!-- flex-l w-third-l w-third-m w-100 items-center -->
<nav class="pv3 ph3 bb b--gray" role="navigation">
  <div class="cf flex-m flex-l items-center">
    <div class="fl flex w-70 pt2 pt0-m pt0-l w-60-m w-40-l justify-center items-center">
      <a href="{{ .Site.BaseURL }}" class="din-bold f2-l f3-m f2-ns f3 fw2 hover-silver no-underline white">
        {{ .Site.Title }}
      </a>
    </div>
    <div class="fl flex w-30 w-20-m w-20-l ph3 justify-center items-center">
      <img src="{{ .Site.BaseURL }}/images/scr_logo.png" class="img" width="80" alt="Seoul Community Radio Logo">
    </div>
    <div class="fl flex w-100 w-100 w-40-l pl4 justify-end items-center center">  
      <ul class="pl0 mr3">
        {{ $currentNode := . }}
        {{ range .Site.Menus.main }}
        <li class="list f6 fw4 dib pr3">
          {{ if (or (eq .Name "LIVE") (eq .Name "생방송")) }}
          <a class="din-thin hover-white no-underline bg-dark-red silver" href="{{ .URL }}" title="{{ .Name }} page">
            {{ .Name }}
          </a>
          {{ else }}
          <a class="din-thin hover-white no-underline silver" href="{{ .URL }}" title="{{ .Name }} page">
            {{ .Name }}
          </a>
          {{ end }}
        </li>
        {{ end }}
        {{ if .Site.IsMultiLingual }}
        {{ range .Site.Languages }}
        {{ if eq . $.Site.Language }}
        {{ else }}
        {{ range $.Translations }}
        <li class="small-caps list f6 fw4 dib pr3">
          <a href="{{ .Permalink }}" class="hover-white no-underline silver">{{ .Language.LanguageName }}</a>
        </li>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
