<!-- Facebook, Instagram, Twitter, Soundcloud, Youtube, Dailymotion -->
{{ $icon_size := "32px" }}
<a href="https://www.facebook.com/seoulcommunityradio/" class="link-transition facebook link dib z-999 pt3 pt0-l mr1">
  {{ partial "svg/facebook.svg" (dict "size" $icon_size) }}
</a>
<a href="https://www.instagram.com/scr_radio/" class="link-transition instagram link dib z-999 pt3 pt0-l mr1">
  {{ partial "svg/instagram.svg" (dict "size" $icon_size) }}
</a>
<a href="https://twitter.com/radio_scr" class="link-transition twitter link dib z-999 pt3 pt0-l mr1">
  {{ partial "svg/twitter.svg" (dict "size" $icon_size) }}
</a>
<a href="https://soundcloud.com/seoulcommunityradio" class="link-transition soundcloud link dib z-999 pt3 pt0-l mr1">
  {{ partial "svg/soundcloud.svg" (dict "size" $icon_size) }}
</a>
<a href="https://www.youtube.com/channel/UCUjB4nj0j-pYBaYI0sXekfw" class="link-transition youtube link dib z-999 pt3 pt0-l mr1">
  {{ partial "svg/youtube.svg" (dict "size" $icon_size) }}
</a>
<a href="https://blog.naver.com/seoulcommunityradio" class="link-transition naver link dib z-999 pt3 pt0-l mr1">
  {{ partial "svg/naver.svg" (dict "size" $icon_size) }}
</a>
{{/*  <a href="https://www.dailymotion.com/scr" class="link-transition dailymotion link dib z-999 pt3 pt0-l mr1">
  {{ partial "svg/youtube.svg" (dict "size" $icon_size) }}
</a>  */}}

