<div class="relative w-100 mb4 nested-copy-line-height din-thin">
  <div class="bg-black mb3 pa2 overflow-hidden">
    
    <h1 class="f3 white">
      <a href="{{ .URL }}" class="link white dim small-caps">
        {{ .Title }}
      </a>
    </h1>
    <span class="f6 db mb3">
    {{ if .Param "genres "}}
    {{ range .Param "genres"}}
    {{ . }}
    {{ end }}
    {{ end }}
    </span>
    <div class="nested-links f5 lh-copy nested-copy-line-height">
      {{/*  {{ .Summary  }}  */}}
    {{ if .Param "artist-description" }}
    {{ .Param "artist-description" }}
    {{ end }}
    </div>
  </div>
</div>
