<div>
  <ul>
    <li class="snsIcon"><a href="https://www.facebook.com/seoulcommunityradio/"><img src="" alt="Facebook"></a></li>
    <li class="snsIcon"><a href="https://www.instagram.com/scr_radio/"><img src="" alt="Instagram"></a></li>
    <li class="snsIcon"><a href="https://twitter.com/radio_scr"><img src="" alt="Twitter"></a></li>
    <li class="snsIcon"><a href="https://soundcloud.com/seoulcommunityradio"><img src="" alt="SoundCloud"></a></li>
    <li class="snsIcon"><a href="https://www.youtube.com/channel/UCUjB4nj0j-pYBaYI0sXekfw"><img src="" alt="YouTube"></a></li>
    <li class="snsIcon"><a href="https://www.dailymotion.com/scr"><img src="" alt="DailyMotion"></a></li>
  </ul>
</div>