.facebook, .twitter, .instagram, .soundcloud, .youtube, .dailymotion {
  fill: #111111;
}

.facebook:hover {
  fill: #3b5998;
}

.twitter:hover {
  fill: #1da1f2;
}

.instagram:hover {
  fill: #e1306c;
}

.soundcloud:hover {
  fill: #6cc644;
}

.naver:hover {
  fill: #3EAF0E;
}

.youtube:hover {
  fill: #cd201f;
}

.dailymotion:hover {
  fill: #0077b5
}