{{ define "main" }}

<!-- Required Core stylesheet -->
<link rel="stylesheet" href="../glide.core.css">

<!-- Optional Theme stylesheet -->
<link rel="stylesheet" href="../glide.theme.css">

{{ $firstDailyMotionVideoCode := (.Param "first_slide_dailymotion_video_code") }}
{{ $secondDailyMotionVideoCode := (.Param "second_slide_dailymotion_video_code") }}
{{ $thirdDailyMotionVideoCode := (.Param "third_slide_dailymotion_video_code") }}

<div id="mainPageContent" class="pa3 white">
  <div id="horizontalScrollingBannerRegion" class="">
    <div id="intro" class="glide">
      <div data-glide-el="track" class="glide__track">
        <div class="glide__slides ">
          <div class="glide__slide relative">
            <a class="link white dim" href={{ (.Param "first_slide_link_url") }}>
              {{ if .Param "first_slide_dailymotion_video_code" }}
              <div id="videoContainer" class="relative z-0">
                <iframe frameborder="0" class="vh-50 w-100"
                src={{ printf "http://www.dailymotion.com/embed/video/%s?autoplay=1&mute=1&controls=false&quality=240&queue-enable=false&ui-logo=false&ui-start-screen-info=false" $firstDailyMotionVideoCode }}
                allowfullscreen allow="autoplay"></iframe>
              </div>
              {{ else }}
              <div id="videoContainer" class="relative z-0">
                <img src={{ (.Param "first_slide_image") | default "http://placekitten.com/g/728/90" }} alt="" class="vh-50 w-100">
              </div>
              {{ end }}
              <div id="semiTransparentOverlayContainer" class="bg-black-50 absolute top-0 left-0 z-1 w-100 h-100">
              </div>
              <div id="textOverlayContainer" class="absolute w-100 h-100 top-0 left-0 z-2">
                <div class="w-80 h-100 center">
                  <div class="w-100 h-25"></div>
                  <div class="w-100 h-50 din-bold f1 white pl4 pt3">{{ .Param "first_slide_title" }}</div>
                  <div class="w-100 h-25 din-thin f4 white pl4 pt3">{{ .Param "first_slide_subtitle" }}</div>  
                </div>
              </div>
            </a>
          </div>
          <div class="glide__slide relative">
            <a class="link white dim" href={{ (.Param "second_slide_link_url") }}>
              {{ if .Param "second_slide_dailymotion_video_code" }}
              <div id="videoContainer" class="relative z-0">
                <iframe frameborder="0" class="vh-50 w-100"
                src={{ printf "http://www.dailymotion.com/embed/video/%s?autoplay=1&mute=1&controls=false&quality=240&queue-enable=false&ui-logo=false&ui-start-screen-info=false" $secondDailyMotionVideoCode }}
                allowfullscreen allow="autoplay"></iframe>
              </div>
              {{ else }}
              <div id="videoContainer" class="relative z-0">
                <img src={{ (.Param "second_slide_image") | default "http://placekitten.com/g/728/90" }} alt="" class="vh-50 w-100">
              </div>
              {{ end }}
              <div id="semiTransparentOverlayContainer" class="bg-black-50 absolute top-0 left-0 z-1 w-100 h-100">
              </div>
              <div id="textOverlayContainer" class="absolute w-100 h-100 top-0 left-0 z-2">
                <div class="w-80 h-100 center">
                  <div class="w-100 h-25"></div>
                  <div class="w-100 h-50 din-bold f1 white pl4 pt3">{{ .Param "second_slide_title" }}</div>
                  <div class="w-100 h-25 din-thin f4 white pl4 pt3">{{ .Param "second_slide_subtitle" }}</div>  
                </div>
              </div>
            </a>
          </div>
          <div class="glide__slide relative">
            <a class="link white dim" href={{ (.Param "third_slide_link_url") }}>
              {{ if .Param "third_slide_dailymotion_video_code" }}
              <div id="videoContainer" class="relative z-0">
                <iframe frameborder="0" class="vh-50 w-100"
                src={{ printf "http://www.dailymotion.com/embed/video/%s?autoplay=1&mute=1&controls=false&quality=240&queue-enable=false&ui-logo=false&ui-start-screen-info=false" $thirdDailyMotionVideoCode }}
                allowfullscreen allow="autoplay"></iframe>
              </div>
              {{ else }}
              <div id="videoContainer" class="relative z-0">
                <img src={{ (.Param "third_slide_image") | default "http://placekitten.com/g/728/90" }} alt="" class="vh-50 w-100">
              </div>
              {{ end }}
              <div id="semiTransparentOverlayContainer" class="bg-black-50 absolute top-0 left-0 z-1 w-100 h-100">
              </div>
              <div id="textOverlayContainer" class="absolute w-100 h-100 top-0 left-0 z-2">
                <div class="w-80 h-100 center">
                  <div class="w-100 h-25"></div>
                  <div class="w-100 h-50 din-bold f1 white pl4 pt3">{{ .Param "third_slide_title" }}</div>
                  <div class="w-100 h-25 din-thin f4 white pl4 pt3">{{ .Param "third_slide_subtitle" }}</div>  
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="latestNewsSection" class="pv4">
    <div id="latestNewsTitle" class="f4 pv2">{{ (.Param "latestNewsTitle") }}</div>
    <div id="latestNewsSubtitle" class="f5 pv2">{{ (.Param "latestNewsSubtitle") }}</div>
    <div id="latestNewsHorizontalScroller" class="">
      <div id="newsGlider" class="slider glide glide--ltr glide--carousel glide--swipeable">
        <div class="slider__track glide__track" data-glide-el="track">
          <div class="slider__slides glide__slides w-100" style="transition: transform 0ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s; transform: translate3d(-478.125px, 0px, 0px);">
            {{ range first 10 (where .Data.Pages "Section" "in" (slice "news")) }}
            <div class="slider__frame glide__slide w2 mh2">
              <div id="articleFeaturedImage">
                <a href="{{ .URL }}" class="link white dim"></a>
                <img src="{{ .Site.BaseURL }}img/{{ .Param "featured_image" }}" class="" alt="image from {{ .Title }}">
              </div>
              <div id="articleTitle" class="din-thin small-caps">
                <a href="{{ .URL }}" class="link white dim">
                  {{ .Title }}
                </a>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
    <div id="emptySpace" class="pv3"></div>
    <div id="redHorizontalRule" class="bt b--red"></div>
    <div id="emptySpace" class="pv2"></div>
    <div id="residentsSection" class="">
      <div id="residentsTitle" class="f4 pv2">{{ (.Param "residentsTitle") }}</div>
      <div id="residentsSubtitle" class="f5 pv2">{{ (.Param "residentsSubtitle") }}</div>
      <div id="residentsHorizontalScroller" class="">
        <div id="residentsGlider" class="slider glide glide--ltr glide--carousel glide--swipeable">
          <div class="slider__track glide__track" data-glide-el="track">
            <div class="slider__slides glide__slides w-100" style="transition: transform 0ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s; transform: translate3d(-478.125px, 0px, 0px);">
              {{ range first 10 (index .Site.Taxonomies.group "residents") }}
              <a href="{{ .URL }}" class="link white dim">
                <div class="slider__frame glide__slide w2 mh2">
                  <div id="artistFeaturedImage" class="aspect-ratio aspect-ratio--4x3">
                    
                    <img src="{{ .Site.BaseURL }}img/{{ .Param "artist-featured-image" }}" class="aspect-ratio--object" alt="image from {{ .Title }}">
                  </div>
                  <div id="artistTitle" class="din-bold small-caps pv2">
                    
                    {{ .Title }}
                    
                  </div>
                  <div id="artistDescription" class="din-thin small-caps">
                    
                    {{ truncate 240 (.Param "artist-description") }}
                    
                  </div>
                </div>
              </a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="localGuestsSection" class="pv3">
      <div id="localGuestsTitle" class="f4 pv2">{{ (.Param "localGuestsTitle") }}</div>
      <div id="localGuestsSubtitle" class="f5 pv2">{{ (.Param "localGuestsSubtitle") }}</div>
      <div id="localGuestsHorizontalScroller" class="">
        <div id="localGuestsGlider" class="slider glide glide--ltr glide--carousel glide--swipeable">
          <div class="slider__track glide__track" data-glide-el="track">
            <div class="slider__slides glide__slides w-100" style="transition: transform 0ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s; transform: translate3d(-478.125px, 0px, 0px);">
              {{ range first 10 (index .Site.Taxonomies.group "local-guests") }}
              <a href="{{ .URL }}" class="link white dim">
                <div class="slider__frame glide__slide w2 mh2">
                  <div id="artistFeaturedImage" class="aspect-ratio aspect-ratio--4x3">
                    
                    <img src="{{ .Site.BaseURL }}img/{{ .Param "artist-featured-image" }}" class="aspect-ratio--object" alt="image from {{ .Title }}">
                  </div>
                  <div id="artistTitle" class="din-bold small-caps pv2">
                    
                    {{ .Title }}
                    
                  </div>
                  <div id="artistDescription" class="din-thin small-caps">
                    
                    {{ truncate 240 (.Param "artist-description") }}
                    
                  </div>
                </div>
              </a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="worldwideGuestsSection" class="pv3">
      <div id="worldwideGuestsTitle" class="f4 pv2">{{ (.Param "worldwideGuestsTitle") }}</div>
      <div id="worldwideGuestsSubtitle" class="f5 pv2">{{ (.Param "worldwideGuestsSubtitle") }}</div>
      <div id="worldwideGuestsHorizontalScroller" class="">
        <div id="worldwideGuestsGlider" class="slider glide glide--ltr glide--carousel glide--swipeable">
          <div class="slider__track glide__track" data-glide-el="track">
            <div class="slider__slides glide__slides w-100" style="transition: transform 0ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s; transform: translate3d(-478.125px, 0px, 0px);">
              {{ range first 10 (index .Site.Taxonomies.group "worldwide") }}
              <a href="{{ .URL }}" class="link white dim">
                <div class="slider__frame glide__slide w2 mh2">
                  <div id="artistFeaturedImage" class="aspect-ratio aspect-ratio--4x3">
                    
                    <img src="{{ .Site.BaseURL }}img/{{ .Param "artist-featured-image" }}" class="aspect-ratio--object" alt="image from {{ .Title }}">
                  </div>
                  <div id="artistTitle" class="din-bold small-caps pv2">
                    
                    {{ .Title }}
                    
                  </div>
                  <div id="artistDescription" class="din-thin small-caps">
                    
                    {{ truncate 240 (.Param "artist-description") }}
                    
                  </div>
                </div>
              </a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="separator" class="pv3"></div>
    {{ if .Param "advertisingBannerImage" }}
    <div id="bannerRegion" class="pv3 center tc">
      <a href={{ ( .Param "advertisingBannerURL") }} class="link dim white">
        <img src={{ (.Param "advertisingBannerImage") }}>
      </a>
    </div>
    {{ end }}
  </div>
  
  <script>
    var glide = new Glide('#intro', {
      type: 'carousel',
      autoplay: {{ (.Param "videoSliderTime") }},
      perView: 1,
      focusAt: 'center',
    });
    
    glide.mount();
    
    var residentsGlider = new Glide('#residentsGlider', {
      type: 'carousel',
      perView: 5,
      autoplay: {{ (.Param "residentsSliderTime") }},
      focusAt: 'center',
      breakpoints: {
        1200: {
          perView: 4
        },
        800: {
          perView: 3
        },
        480: {
          perView: 1
        }
      }
    });
    
    residentsGlider.mount();
    
    var worldwideGuestsGlider = new Glide('#worldwideGuestsGlider', {
      type: 'carousel',
      perView: 5,
      autoplay: {{ (.Param "worldwideGuestSliderTime") }},
      focusAt: 'center',
      breakpoints: {
        1200: {
          perView: 4
        },
        800: {
          perView: 3
        },
        480: {
          perView: 1
        }
      }
    });
    
    worldwideGuestsGlider.mount();
    
    var localGuestsGlider = new Glide('#localGuestsGlider', {
      type: 'carousel',
      perView: 5,
      autoplay: {{ (.Param "localGuestsSliderTime") }},
      focusAt: 'center',
      breakpoints: {
        1200: {
          perView: 4
        },
        800: {
          perView: 3
        },
        480: {
          perView: 1
        }
      }
    })
    
    localGuestsGlider.mount()
    
    var newsGlider = new Glide('#newsGlider', {
      type: 'carousel',
      perView: 3,
      autoplay: {{ (.Param "newsSliderTime") }},
      focusAt: 'center',
      breakpoints: {
        800: {
          perView: 2
        },
        480: {
          perView: 1
        }
      }
    })
    
    newsGlider.mount()
  </script>
  
  <script src="https://api.dmcdn.net/all.js"></script>
  <script>
    var player = DM.player(document.getElementById("player"), {
      video: "xwr14q",
      width: "100%",
      height: "100%",
      params: {
        autoplay: true,
        mute: true,
        controls: false, 
        quality: 380, 
        'queue-enable': false, 
        'sharing-enable': false, 
        'ui-logo': false, 
        'ui-start-screen-info': false
      }
    });
  </script>
  
  {{ end }}
  